table {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: right;
}

table thead {
  font-size: 0.7rem;
  color: #83e6c0;
}

table caption {
  font-size: 1.25rem;
  color: #83e6c0;
  font-weight: 700;
}

table tbody {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85rem;
  color: #c2e9e0;
}

.center-content {
  justify-content: center;   /* centra horizontal */
  align-items: center;        /* centra vertical */
}

p {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: center;
}