<app-header></app-header>
<main>
    <ul id="users">
        @for (u of users(); track u.id; let i = $index) {
        <li>
            <app-user (selectedUser)="onSelectUser(u.id)" [id]="u.id" [name]="u.name" [avatar]="u.longAvatarUrl ?? ''"></app-user>
        </li>
        } @empty {
            <li>No hay usuarios</li>
        }
    </ul>
    <section class="user-detail">
        @if (selectedUser(); as su) {
        <h3>Seleccionado: {{ su.name }}</h3>

        @if (su?.longAvatarUrl; as url) {
            <img
            [ngSrc]="url"
            width="160" height="160"
            alt="{{ su.name }}"
            decoding="async"
            />
        }
        } @else {
        <p class="muted">Selecciona un usuario…</p>
        }
    </section>
</main>