form {
  padding: 1rem;
  max-width: 30rem;
  margin: 2rem auto;
  border-radius: 4px;
  background: linear-gradient(180deg, #307e6c, #2b996d);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-group {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #c2e9e0;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: #83e6c0;
  color: #1a1f1d;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

/* ⭐ Cuando está disabled */
button:disabled {
  opacity: 0.5;
  background-color: #83e6c0; /* mismo color, solo opacidad */
  cursor: not-allowed;
}

/* Evitar hover cuando está disabled */
button:disabled:hover {
  background-color: #83e6c0;
  box-shadow: none;
}

button:hover {
  background-color: #aaf1d6;
}

button[type="submit"]:hover,
button[type="submit"]:active {
  background-color: #aaf1d6;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
