<button
    [id]="'userButton_' + this.userEnt.id"
    class="user-item"
    [class.selected]="selected"
    (click)="onSelectedUser()"
    title="Seleccionar {{ userEnt.name }}"
    [attr.aria-pressed]="selected"
>
@if (userEnt.longAvatarUrl; as url) {
    <img
    [ngSrc]="url"
    width="48" height="48"
    alt="{{ userEnt.name }}"
    decoding="async"
    />
}
<span class="user-name">{{ i + 1 }}.- {{ userEnt.name }}</span>
@if (selected) {
    <span aria-hidden="true" class="check" role="img">
        <svg width="14" height="14" viewBox="0 0 24 24" fill="currentColor">
            <path d="M9 16.2l-3.5-3.5-1.4 1.4L9 19 20 8l-1.4-1.4z"/>
        </svg>
    </span>
}
</button>